html {
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.notes-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    margin: 1em;
    background-color: #fef68a;
    min-height: 170px;
    border-radius: 12px;
}

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}